services:
  - type: web
    runtime: node
    name: datagrid-site
    repo: https://github.com/growthxai/datagrid-site.git
    branch: main
    buildCommand: npm install && npm run build
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
